

.containerAll{
    margin-top: 100px;

}

hr{
    width: 50%;
    margin-right: auto;
}

.title>p{
    /* text-align: center; */
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    /* margin-bottom: 20px; */
}

.title{
    margin-bottom: 20px;
}

.searchContainer{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* margin-right: 10px; */
}

.searchContainer input{
    margin-bottom: 10px;
}

.searchContainer span{
    margin-right: 2px;
}

.searchContainer input{
    margin-left: 9px;
}

img{
    width: 20px;
}

.containerPages{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.containerPages .pageButton{
    display: inline;
    margin: 3px;
}

select{
    min-width: 20px;
}